# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# Airflow
logs/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React/Vite
dist/
build/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Database
*.db
*.sqlite3

# Temporary files
*.log

#model
/model
/llm
/airflow